<h2>Create Todo</h2>
<% @todo.errors.full_messages.each do |message| %>
<p><%= message %></p>
<% end %>
<%= form_with(model: @todo, local: true) do |f| %>
<p>
<%= f.label :name %><br>
<%= f.text_field :name %><br>
</p>
<p>
<%= f.label :description %><br>
<%= f.text_field :description %><br>
</p>
<p>
<%= f.submit %>
</p>
<% end %>
<%= link_to 'Back to listing' , todos_path %>
